@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/raleway/raleway-800.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/rubik/rubik-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/rubik/rubik-700.woff2) format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;

  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;

  width: 16px;
  height: 16px;
  margin: -1px;
  padding: 0;

  border: 0;

  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  width: 1160px;
  box-sizing: border-box;
}

/*Header*/

.header-container {
  position: relative;

  margin-top: 40px;
  padding: 0 60px;
  min-height: 186px;

  background-color: #FFE17F;
}

.header-logo {
  position: absolute;
  top: -23px;

  cursor: pointer;
}

.header-logo:hover {
  opacity: 0.6;
}

.header-logo:focus-visible {
  outline: 2px solid #AF4FFF;
}

.header-logo:active {
  opacity: 0.3;
  outline: none;
}

/*Navigation*/

.navigation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  padding-top: 43px;
}

/*Search-form*/

.search-form {
  display: flex;
  align-items: center;
  margin: 0;
  margin-right: 26px;
}

.search-field {
  margin: 0;
  padding: 11px 125px 10px 48px;

  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #000000;

  background-image: url(../images/icons/search-icons.svg);
  background-repeat: no-repeat;
  background-position: 16px center;
  background-color: transparent;
  border: 2px solid #000000;
  border-right: none;
  border-radius: 50px 0px 0px 50px;
}

.search-field::placeholder {
  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #000000;
  opacity: 0.3;
}

.search-field:focus-visible {
  outline: 2px solid #AF4FFF;
}

.search-field:disabled {
  opacity: 0.3;
}

.search-button {
  margin: 0;
  padding-top: 11px;
  padding-bottom: 10px;
  box-sizing: border-box;
  width: 160px;

  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #000000;
  text-align: center;

  background-color: transparent;
  border-radius: 0px 50px 50px 0px;
  border: 2px solid #000;

  cursor: pointer;
}

.search-button:hover {
  color: #ffffff;
  background-color: #000000;
}

.search-button:focus-visible {
  outline: 2px solid #AF4FFF;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.search-button:disabled {
  background-color: transparent;
  opacity: 0.3;
}

/*User-navigation*/

.user-navigation {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;

  color: #000000;
  list-style: none;
}

.user-navigation-item {
  position: relative;
  margin-right: 30px;
}

.user-navigation-item:first-child {
  margin-right: auto;
}

.user-navigation-item:last-child {
  margin-right: 0;
}

.user-navigation-link {
  display: block;
  padding-left: 27px;

  color: #000000;
  text-decoration: none;
}

.user-navigation-link:hover {
  opacity: 0.6;
}

.user-navigation-link:focus-visible {
  outline: 2px solid #AF4FFF;
}

.user-navigation-link:active {
  opacity: 0.3;
}

.user-link {
  background-image: url(../images/icons/user-icon.svg);
  background-repeat: no-repeat;
  background-position: left center;
}

.compare-link {
  background-image: url(../images/icons/compare-icon.svg);
  background-repeat: no-repeat;
  background-position: left center;
}

.cart-item:focus-within .popover {
  display: block;
}

.cart-link {
  position: relative;

  background-image: url(../images/icons/cart-icon.svg);
  background-repeat: no-repeat;
  background-position: left center;
}

.user-navigation-link-counter {
  position: absolute;
  top: 5px;
  left: -15px;

  width: 21px;
  height: 21px;

  font-size: 14px;
  line-height: 21px;
  text-align: center;

  background-color: #ffffff;
  border-radius: 50%;
}

.user-navigation-link-accent {
  opacity: 0.3;
  padding: 0;
}

/*Popover*/

.popover {
  position: absolute;
  top: 31px;
  right: -72px;
  z-index: 3;

  display: none;

  width: 320px;
  min-height: 90px;
  box-sizing: border-box;

  font-size: 16px;
  line-height: 20px;
  color: #ffffff;

  background-color: #000000;
}

.popover::before {
  position: absolute;
  top: -6px;
  right: 144px;

  width: 14px;
  height: 6px;

  background-image: url(../images/icons/popover-arrow.svg);

  content: "";
}

.popover-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.popover-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  list-style: none;
}

.popover-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px;
}

.popover-link {
  display: flex;

  cursor: pointer;
}

.popover-link:hover {
  opacity: 0.6;
}

.popover-link:focus-visible {
  outline: 2px solid #AF4FFF;
}

.popover-link:active {
  opacity: 0.3;
}

.popover-img {
  display: block;
  margin: 0;
  margin-right: 23px;
  padding: 0;
}

.popover-delete-button {
  align-self: start;
  width: 10px;
  height: 10px;
  margin: 0;

  color: #ffffff;

  background-image: url(../images/icons/cross.svg);
  background-repeat: no-repeat;
  background-color: #000000;
  border: none;

  cursor: pointer;
}

.popover-delete-button:hover {
  opacity: 0.6;
}

.popover-delete-button:focus-visible {
  outline: 2px solid #AF4FFF;
}

.popover-delete-button:active {
  opacity: 0.3;
}

.popover-total {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  background-color: #1A1A1A;
}

.popover-button {
  display: block;
  margin: 20px;
  padding: 15px 15px;

  text-decoration: none;
  text-align: center;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  color: #000000;

  background-color: #ffffff;
}

.popover-button:hover {
  background-color: #FFE17F;
}

.popover-button:focus-visible {
  outline: 2px solid #AF4FFF;
}

.popover-button:active {
  background-color: #FFE17F;
  color: rgba(0, 0, 0, 0.3);
}

.popover-button:disabled {
  color: rgba(0, 0, 0, 0.3);
}

/*Main-navigation*/

.main-navigation {
  box-sizing: border-box;
}

.main-navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 -22.5px;
  padding: 0;

  list-style: none;
}

.main-navigation-item {
  padding: 0 22.5px;
}

.main-navigation-link {
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.main-navigation-link:hover {
  opacity: 0.6;
}

.main-navigation-link:focus-visible {
  outline: 2px solid #AF4FFF;
}

.main-navigation-link:active {
  opacity: 0.3;
}

/*Catalog navigation*/

.catalog-navigation {
  margin-right: auto;
}

.catalog-navigation-link {
  display: flex;
  align-items: center;
}

.catalog-navigation-link:hover,
.catalog-navigation-link:focus,
.catalog-navigation-link:active {
  color: #000000;
  opacity: 1;
}

.catalog-navigation-button {
  position: relative;

  width: 50px;
  height: 50px;
  display: block;
  margin-left: 17px;

  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;

  cursor: pointer;
}

.catalog-navigation-button::before,
.catalog-navigation-button::after {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 2px;
  top: 50%;
  left: 9px;
  background-color: rgba(0, 0, 0, 0.3);
  transform: translateX(50%);
}

.catalog-navigation-button::before {
  transform: translateX(50%) rotate(90deg);
}

.catalog-navigation:hover .catalog-navigation-button {
  border-color: #000000;
  opacity: 1;
}

.catalog-navigation:hover .catalog-navigation-button::before,
.catalog-navigation:hover .catalog-navigation-button::after {
  background-color: #000000;
}

.catalog-navigation:active .catalog-navigation-button::before {
  display: none;
}

.catalog-navigation:focus-within .subcatalog-container {
  display: block;
}

/*Subcatalog*/

.subcatalog-container {
  display: none;
}

.subcatalog {
  position: absolute;
  left: 0;
  z-index: 4;

  width: 1040px;
  display: flex;
  padding: 20px 60px 27px 60px;

  background-color: #FFE17F;
}

.subcatalog-list {
  margin: 0;
  padding: 0;
  padding-right: 60px;
  list-style: none;
}

.subcatalog-item:not(:last-child) {
  padding-bottom: 12px;
}

.subcatalog-link {
  text-decoration: none;
  color: #000000;
}

.subcatalog-link:hover {
  opacity: 0.6;
}

.subcatalog-link:focus-visible {
  outline: 2px solid #AF4FFF;
}

.subcatalog-link:active {
  opacity: 0.3;
}

.main-container {
  flex-grow: 1;
}

/*Promo Slider*/

.promo {
  margin-bottom: 70px;
}

.slider {
  position: relative;

  display: flex;
  flex-direction: column;
}

.slider::before {
  position: absolute;
  content: "";
  background-color: #FFE17F;
  width: 1160px;
  height: 114px;
}

.slider-item {
  display: flex;
  margin-top: -36px;
}

.slider-item:nth-child(2),
.slider-item:nth-child(3) {
  display: none;
}

.slider-column {
  position: relative;
  z-index: 2;

  margin-right: 40px;
}

.slider-controls {
  position: absolute;
  z-index: 3;
  top: 37%;

  width: 100%;
  display: flex;
  justify-content: space-between;
}

.slider-switch-button {
  width: 20px;
  height: 60px;

  color: #000000;
  background-image: url(../images/icons/arrow-slider-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;

  cursor: pointer;
}

.slider-switch-button:hover {
  opacity: 0.6;
}

.slider-switch-button:focus-visible {
  outline: 2px solid #AF4FFF;
}

.slider-switch-button:active {
  opacity: 0.3;
}

.slider-prev {
  margin-left: 30px;
}

.slider-next {
  transform: rotate(180deg);
}

.slider-content {
  margin-right: 0;
  padding-top: 123px;
}

.title {
  margin: 0;
  padding: 0;

  font-family: Raleway;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: 50px;
  color: #000000;
}

.slider-title {
  margin-bottom: 29px;
}

.slider-text {
  margin: 0;
  margin-bottom: 51px;
  padding: 0;
}

.slider-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 49px;
}

.button {
  position: relative;

  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 10px 5px;

  text-decoration: none;
  text-align: center;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  color: #000000;

  cursor: pointer;
}

.button::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 8px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-color: #FFE17F;
}

.button:hover::after {
  height: 100%;
}

.button:focus-visible {
  outline: 2px solid #AF4FFF;
}

.button:active::after {
  height: 100%;
  background-color: #FFCC33;
}

.slider-button {
  width: 220px;
}

.slider-division {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.slder-division-item {
  margin-right: 20px;
}

.slder-division-item:last-child {
  margin-right: 0;
}

.slider-division-button {
  margin: 0;
  padding: 0;
  width: 12px;
  height: 12px;
  border: 2px solid #000000;
  border-radius: 50%;
  background-color: transparent;
  vertical-align: middle;

  cursor: pointer;
}

.slider-division-button-current {
  background-color: #000000;
}

.slider-division-button:hover {
  opacity: 0.6;
}

.slider-division-button:focus-visible {
  outline: 2px solid #AF4FFF;
}

.slider-division-button:active {
  opacity: 0.3;
}

.slider-division-button:disabled {
  opacity: 0.1;
}

.slider-info {
  display: flex;
  justify-content: flex-start;
}

.slider-benefit {
  margin: 0;
  margin-right: 20px;
  padding: 0;
}

.slider-benefit-label {
  margin-bottom: 20px;

  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  color: #000000;
}

.slider-benefit-description {
  margin: 0;
  margin-bottom: 38px;
  padding: 0;

  font-size: 16px;
}

.slider-counter {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-counter-item {
  position: absolute;
  top: 80px;
  right: 50px;
  z-index: -1;

  font-family: Rubik;
  font-size: 180px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  text-align: right;
  color: #ffffff;
  background-color: #FFE17F;
}

/*Categoties*/

.categories {
  margin-bottom: 70px;
}

.categories-list {
  display: grid;
  grid-template-columns: repeat(6, 160px);
  column-gap: 40px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.categories-link {
  display: flex;
  flex-direction: column;

  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: -0.36px;
  text-decoration: none;
  color: #000000;

  cursor: pointer;
}

.categories-img {
  height: 160px;
  background-color: #FFE17F;
  margin-bottom: 33px;
}

.categories-title {
  display: block;

  margin: 0;
}

.categories-link:hover .categories-img {
  background-color: #FFC700;
}

.categories-link:focus-visible {
  outline: 2px solid #AF4FFF;
}

.categories-link:active {
  opacity: 0.3;
}

/*Services*/

.services {
  min-width: 1440px;
  margin-top: 190px;
  margin-bottom: 70px;
  padding-bottom: 72px;

  background-color: #F0F0F0;
}

.services-container {
  padding: 0 15px;
}

.services-wrapper {
  display: flex;
  transform: translateY(-40px);
}

.services-navigation {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-right: 116px;
}

.services-navigation::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: -63px;
  min-height: 320px;
  width: 7px;
  background-color: #000000;
}

.services-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.services-item:not(:last-child) {
  margin-bottom: 35px;
}

.services-item-current {
  background-color: #000000;
  padding-right: 120px;
}

.services-button {
  display: block;
  background-color: transparent;
  border: none;
  z-index: 1;
  padding: 10px;
  padding-left: 15px;
  width: 153px;
}

.services-button-current {
  color: #FFE17F;
  background-color: #000000;
}

.services-button-current::after {
  background-color: transparent;
}

.services-button-current:hover {
  background-color: #000000;
  opacity: 0.6;
}

.services-button-current:active {
  background-color: #000000;
  opacity: 0.3;
}

.services-button-current:active::after {
  background-color: #000000;
}

.services-description {
  display: flex;
  flex-direction: column;
}

.services-content {
  position: relative;
  padding-right: 63px;
}

.services-title {
  padding-top: 12px;
  margin-bottom: 34px;
}

.services-text {
  max-width: 452px;
}

.services-content:first-child .services-text::after {
  content: "";
  position: absolute;
  display: block;
  width: 136px;
  height: 164px;
  background-image: url("../images/services/delivery.svg");
  background-repeat: no-repeat;
  background-position: center;
  top: 16px;
  right: -180px;
}

.services-content:nth-child(2) .services-text::after {
  content: "";
  position: absolute;
  display: block;
  width: 136px;
  height: 164px;
  background-image: url("../images/services/garanty.svg");
  background-repeat: no-repeat;
  background-position: center;
  top: 16px;
  right: -180px;
}

.services-content:nth-child(3) .services-text::after {
  content: "";
  position: absolute;
  display: block;
  width: 136px;
  height: 164px;
  background-image: url("../images/services/credit.svg");
  background-repeat: no-repeat;
  background-position: center;
  top: 16px;
  right: -180px;
}

/*Order button*/

.order-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  margin-bottom: 70px;

  text-align: center;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;

  background-color: #F0F0F0;

  cursor: pointer;
}

.order-icon {
  position: relative;

  width: 125px;
  height: 100px;

  background-color: #FFE17F;
}

.order-icon::after {
  position: absolute;
  top: 35px;
  left: 35px;

  width: 47px;
  height: 31px;

  background-image: url(../images/icons/truck-icon.svg);
  content: "";
}

.order-info {
  position: relative;
  width: 40px;
  height: 40px;
  margin: 0 42px;

  background-color: rgba(220, 220, 220, 0.50);
  border-radius: 50%;
}

.order-info::before {
  position: absolute;
  top: 14px;
  left: 18px;

  width: 5px;
  height: 12px;

  background-image: url(../images/icons/info-icon.svg);
  opacity: 0.3;
  content: "";
}

.order-button:hover .order-icon {
  background-color: #FFC700;
}

.order-button:hover .order-info::before {
  opacity: 1;
}

.order-button:focus-visible {
  outline: 2px solid #AF4FFF;
}

.order-button:active {
  opacity: 0.3;
}

/*About*/

.about-columns {
  position: relative;

  margin-bottom: 70px;

  display: flex;
}

.about {
  margin-right: 108px;
  max-width: 520px;
}

.about-columns .title {
  margin-bottom: 48px;
  padding-top: 47px;
}

.about-title::before {
  position: absolute;
  top: 0;
  left: 0;

  width: 84px;
  height: 7px;
  background-color: #000000;

  content: "";
}

.about-text {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}

.about-list {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  padding-left: 5px;

  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
  list-style: none;
  color: #000000;
}

.about-item:not(:last-child) {
  margin-bottom: 19px;
}

.about-item-title {
  position: relative;

  padding-left: 34px;
}

.about-item-title::before {
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  top: 30%;
  left: 0;
  background-color: #FFC700;

  content: "";
}

.about-button {
  width: 270px;
}

/*Contacts*/

.contacts {
  position: relative;
}

.contacts-title::before {
  position: absolute;
  top: 0;
  left: 0;

  width: 84px;
  height: 7px;

  background-color: #000000;

  content: "";
}

.contacts-text {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}

.contacts-subtitle {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
}

.contacts-address {
  font-style: normal;
}

.contacts-phone {
  display: block;

  color: #444444;
  margin-bottom: 30px;
}

.contacts-list {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;

  list-style: none;
}

.contacts-button {
  width: 259px;
}

/*Subscription*/

.subscription {
  min-width: 1440px;
  background-color: #F0F0F0;
}

.subscription-container-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 64px;
}

.subscription-title {
  margin: 0;
  margin-right: 252px;
  margin-bottom: 144px;
  padding: 0;

  padding-left: 7px;
}

.subscription-description {
  margin: 0;
}

.subscription-container-form {
  display: flex;
  justify-content: space-between;
  padding-bottom: 56px;
}

.subscription-form {
  display: flex;
  align-items: center;
  margin: 0;
}

.subscription-field {
  margin: 0;
  padding: 10.5px 385px 13px 16px;
  box-sizing: border-box;

  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  color: #000000;

  background-color: #F0F0F0;
  border: none;
  border-bottom: 3px solid #C4C4C4;
}

.subscription-field::placeholder {
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  opacity: 0.5;
}

.subscription-field:focus {
  background-color: #C4C4C4;
  outline: none;
}

.subscription-button {
  margin: 0;
  padding: 15px 39px;
  width: 253px;
  box-sizing: border-box;

  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;

  border: 3px solid #CECECE;

  cursor: pointer;
}

.subscription-button:hover {
  opacity: 0.6;
}

.subscription-button:active {
  opacity: 0.3;
}

.subscription-text {
  position: relative;

  display: block;
  align-self: center;
  padding-left: 32px;
}

.subscription-text::before {
  position: absolute;
  top: 20%;
  left: 0;

  width: 16px;
  height: 16px;

  background-image: url(../images/icons/tick-big-icon.svg);

  content: "";
}

/*Footer*/

.main-footer {
  background-color: #444444;
  min-width: 1440px;
}

.footer-container {
  padding: 62px 0;
}

.footer-logo {
  display: block;
  margin-bottom: 35px;
}

.footer-logo:hover {
  opacity: 0.6;
}

.footer-logo:focus-visible {
  outline: 2px solid #AF4FFF;
}

.footer-logo:active {
  opacity: 0.3;
}

.footer-container-top {
  display: flex;
  align-items: center;
  margin-bottom: 49px;
}

.footer-address {
  margin: 0;
  margin-right: 169px;
  width: 239px;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.footer-navigation {
  display: flex;
  align-self: flex-start;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.footer-navigation-item {
  padding: 0;
}

.footer-navigation-link {
  color: #ffffff;
}

.footer-navigation-item:not(:last-child) {
  margin-right: 32px;
}

.footer-navigation-item:hover .footer-navigation-link {
  border-bottom: 2px solid #ffc700;
  color: #ffc700;
  opacity: 1;
}

.footer-navigation-item:active {
  opacity: 0.3;
}

.footer-phone {
  display: block;
  margin-left: auto;

  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.footer-phone:hover {
  color: #FFC700;
}

.footer-phone:focus-visible {
  outline: 2px solid #AF4FFF;
}

.footer-phone:active {
  color: #FFC700;
  opacity: 0.3;
}

.footer-container-bottom {
  display: flex;
  align-items: center;
}

.footer-social {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-left: 560px;
  list-style: none;
}

.social-bg {
  fill: #ffffff;
  opacity: 0.3;
}

.footer-social-link:hover .social-bg {
  fill: #FFC700;
  opacity: 1;
}

.footer-social-link:focus-visible {
  outline: 2px solid #AF4FFF;
}

.footer-social-link:active path {
  opacity: 0.3;
}

.footer-social::before {
  position: absolute;
  top: 30%;
  left: 0;

  width: 80px;
  height: 7px;

  background-color: #FFC700;

  content: "";
}

.footer-social-item:not(:last-child) {
  margin-right: 15px;
}

.copyright {
  margin-left: auto;
}

.copyright-img {
  fill: #FFC700;
}

.copyright:hover .copyright-img {
  fill: #ffffff;
}

.copyright:focus-visible {
  outline: 2px solid #AF4FFF;
}

.copyright:active .copyright-img {
  fill: #ffffff;
  opacity: 0.3;
}

/*Catalog*/


.inner-container {
  padding: 0 60px;
  padding-bottom: 35px;
}

.inner-header-title {
  margin: 0;
  margin-top: 35px;
  margin-bottom: 16px;
  padding: 0;

  font-family: Raleway;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: 50px;
  color: #000000;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

  list-style: none;
}

.breadcrumbs-item:not(:last-child) {
  position: relative;
  margin-right: 16px;
  padding-right: 20px;
}

.breadcrumbs-item:not(:last-child)::after {
  position: absolute;
  right: 0;
  top: 40%;

  width: 4px;
  height: 7px;

  background-image: url(../images/icons/breadcrumbs-arrow-icon.svg);

  content: "";
}

.breadcrumbs-link {
  text-decoration: none;
  font-size: 16px;
  color: #000000;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:focus-visible {
  outline: 2px solid #AF4FFF;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}

.breadcrumbs-link-current {
  pointer-events: none;
  cursor: default;
}

.catalog-products {
  background-color: #F0F0F0;
}

.catalog-container {
  display: flex;
}

.catalog-filter {
  width: 320px;
  padding: 0 60px;
  box-sizing: border-box;
}

.catalog-subtitle {
  margin: 0;
  margin-bottom: 35px;
  padding: 25px 0;

  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  color: #000000;
}

.catalog-filter-group {
  position: relative;
  margin: 0;
  margin-bottom: 35px;
  padding: 0;

  border: none;
  text-decoration: none;
}

.catalog-filter-title {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  padding-top: 14px;

  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
  color: #000000;
}

.catalog-filter-title::before {
  position: absolute;
  top: 0;
  left: 0;

  width: 200px;
  height: 2px;

  background-color: #000000;

  content: "";
}

.catalog-price-title {
  margin-bottom: 28px;
}

.range-scale {
  position: relative;
  height: 2px;
  margin-bottom: 11px;

  background-color: #DCDCDC;
}

.range-bar {
  position: absolute;
  height: 2px;
  background-color: #000000;
}

.range-toggle {
  position: absolute;

  width: 18px;
  height: 18px;

  background-color: #EBEBEB;
  border: 2px solid #000000;
  border-radius: 50%;

  cursor: pointer;
}

.range-toggle:hover {
  opacity: 0.5;
}

.range-toggle:focus-visible {
  outline: 2px solid #000000;
}

.range-toggle:active {
  background-color: #000000;
}

.toggle-min {
  top: -8px;
  left: -8px;
}

.toggle-max {
  top: -8px;
  right: -8px;
}

.range-wrapper-inputs {
  display: flex;
}

.catalog-filter-label {
  display: flex;
  margin-right: 5px;

  font-size: 15px;
  text-align: center;
  color: #000000;
  opacity: 0.3;
}

.catalog-filter-label:first-child {
  margin-left: -13px;
}

.catalog-filter-label:last-child {
  margin-left: 30px;
}

.range-input {
  width: 40px;
  padding: 0 5px;

  font: inherit;
  background-color: transparent;
  border: none;
  appearance: textfield;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 8px;
}

.control {
  position: relative;
  display: block;
  padding-left: 36px;

  cursor: pointer;
}

.control:hover {
  opacity: 0.6;
}

.control:focus-visible+.control-mark {
  outline: 2px solid #AF4FFF;
}

.control:active {
  opacity: 0.3;
}

.control:disabled {
  opacity: 0.1;
}

.control-mark {
  position: absolute;
  top: 5px;
  left: 0;

  width: 16px;
  height: 16px;

  border-radius: 3px;
  border: 2px solid #CCCCCC;
}

.control-input[type="checkbox"]:checked+.control-mark {
  border-color: #000000;
}

.control-input[type="checkbox"]:checked+.control-mark::before {
  position: absolute;
  top: 3px;
  right: 3px;

  width: 10px;
  height: 10px;

  background-image: url(../images/icons/tick-icon.svg);

  content: "";
}

.control-input[type="radio"]+.control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked+.control-mark {
  border-color: #000000;
}

.control-input[type="radio"]:checked+.control-mark::before {
  position: absolute;
  top: 4px;
  right: 4px;

  width: 8px;
  height: 8px;

  background-color: #000000;
  border-radius: 50%;

  content: "";
}

.control-label {
  font-size: 16px;
  line-height: normal;
  color: #000000;
}

.catalog-filter-button {
  width: 220px;
  display: block;
  background-color: transparent;
  border: none;
  z-index: 1;
  padding: 10px;
  padding-left: 15px;
}

.catalog-right-column {
  flex-grow: 1;
}

.sorting-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  box-sizing: border-box;

  background-color: #F0F0F0;
}

.sorting-subtitle {
  margin: 0;
  padding: 0;
}

.catalog-select {
  margin: 0;
  padding-right: 50px;

  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  color: #000000;

  background-image: url(../images/icons/arrow-down-icon.svg);
  background-repeat: no-repeat;
  background-position: 125px;
  background-color: #F0F0F0;
  border: none;

  appearance: none;
  cursor: pointer;
}

.catalog-select:hover {
  opacity: 0.6;
}

.catalog-select:focus-visible {
  outline: 2px solid #AF4FFF;
}

.catalog-select:active {
  opacity: 0.3;
}

.catalog-sort-buttons {
  display: flex;
  align-items: center;

  margin: 0;
  padding: 0;

  list-style: none;
}

.arrow {
  display: block;
  text-decoration: none;
}

.sort-up,
.sort-down {
  position: relative;
  width: 30px;
  height: 30px;
}

.sort-up::before,
.sort-down::before {
  position: absolute;
  top: 10px;
  left: 9.5px;

  border-style: solid;

  content: "";
}

.sort-up::before {
  border-width: 0 5.5px 10px 5.5px;
  border-color: transparent transparent rgba(0, 0, 0, 0.2) transparent;
}

.sort-down::before {
  border-width: 10px 5.5px 0 5.5px;
  border-color: rgba(0, 0, 0, 0.2) transparent transparent transparent;
}

.arrow:hover.sort-up::before {
  border-color: transparent transparent rgba(0, 0, 0, 0.5) transparent;
}

.arrow:active.sort-up::before {
  border-color: transparent transparent #000000 transparent;
}

.arrow:hover.sort-down::before {
  border-color: rgba(0, 0, 0, 0.5) transparent transparent transparent;
}

.arrow:active.sort-down::before {
  border-color: #000000 transparent transparent transparent;
}

/*Product-list*/

.product-list-container {
  padding: 70px 40px;
  background-color: #ffffff;
}

.product-list {
  margin: 0;
  margin-bottom: 44px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 360px);
  column-gap: 40px;
  row-gap: 44px;

  list-style: none;
}

.product-link {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  text-decoration: none;
  color: #000000;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;

  cursor: pointer;
}

.product-img {
  display: block;
  margin-bottom: 32px;
}

.product-card-content {
  display: flex;
  justify-content: space-between;
}

.product-title {
  margin: 0;
  padding: 0;
}

.product-price {
  margin: 0;
  padding: 0;

  font-weight: 400;
  line-height: normal;
}

.catalog-button {
  margin: 0;
  margin-bottom: 44px;
  padding: 18px 39px;
  ;
  box-sizing: border-box;
  width: 760px;

  text-align: center;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.2px;
  text-transform: uppercase;

  background-color: #ffffff;
  border: 3px solid #E5E5E5;

  cursor: pointer;
}

.catalog-button:hover {
  color: #ffffff;
  background-color: #000000;
  border: none;
}

.catalog-button:focus-visible {
  outline: 2px solid #AF4FFF;
}

.catalog-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.catalog-button:disabled {
  opacity: 0.3;
}

.pagination-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #EBEBEB;
}

.pagination-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.pagination-link-button {
  padding: 25px;

  text-decoration: none;
  color: #000000;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;

  cursor: pointer;
}

.pagination-link-button:hover {
  background-color: #DCDCDC;
}

.pagination-link-button:focus-visible {
  outline: 2px solid #AF4FFF;
}

.pagination-link-button:active {
  background-color: #DCDCDC;
  opacity: 0.3;
}

.pagination-link {
  display: flex;
  align-items: center;

  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;


  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  color: #444444;
  opacity: 0.3;

  cursor: pointer;
}

.pagination-link-current {
  opacity: 0.6;
}

.pagination-link:hover {
  opacity: 1;
}

.pagination-link:focus-visible {
  outline: 2px solid #AF4FFF;
}

.pagination-link:active {
  opacity: 0.1;
}

/*Modal*/

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  display: flex;
  width: 100%;
  height: 100%;

  background-color: rgba(240, 240, 240, 0.90);
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 62px 70px;

  background-color: #ffffff;
  border: 10px solid #000000;
  box-shadow: 0px 10px 0px 0px rgba(0, 0, 0, 0.10);
}

.modal-content {
  width: 760px;
}

.modal-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 42px;
}

.modal-close-button {
  width: 26px;
  height: 26px;

  background-image: url("../images/icons/modal-cross.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;

  cursor: pointer;
}

.modal-close-button:hover {
  opacity: 0.6;
}

.modal-close-button:focus-visible {
  outline: 2px solid #AF4FFF;
}

.modal-close-button:active {
  opacity: 0.3;
}

.modal-column {
  position: relative;

  display: flex;
  flex-direction: column;
}

.modal-column:not(:last-child) {
  margin-right: 40px;
}

.modal-label {
  margin: 0;
  margin-bottom: 14px;
  padding: 0;

  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
  color: #000000;
}

.modal-input {
  margin: 0;
  padding: 20px;
  width: 360px;
  box-sizing: border-box;

  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #000000;

  background-color: #F0F0F0;
  border: none;
}

.modal-input:hover {
  background-color: #DCDCDC;
}

.modal-input:focus {
  outline: 2px solid #AF4FFF;
}

.modal-input:disabled {
  opacity: 0.3;
}

.modal-input::placeholder {
  opacity: 0.3;
}

.modal-input[type="email"] {
  border: 2px solid #FF3D3D;
}

.modal-input[id="user-name"]~.modal-input-icon,
.modal-input[id="user-email"]~.modal-input-icon {
  position: absolute;
  top: 50%;
  right: 21px;
  opacity: 0.3;
}

.modal-input[id="user-name"]~.modal-input-icon {
  width: 13px;
  height: 12px;
  background: url("../images/icons/user-form-icon.svg") no-repeat center;
}

.modal-input[id="user-email"]~.modal-input-icon {
  width: 15px;
  height: 12px;
  background: url("../images/icons/mail-icon.svg") no-repeat center;
}

.value-invalid {
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 20px;
}

.name-invalid {
  color: #000000;
}

.email-invalid {
  color: #FF3D3D;
}

.modal-input[id="product"] {
  width: 540px;
}

.number-product {
  display: flex;
  flex-direction: column;
}

.number-product-row {
  display: flex;
  position: relative;

  width: 180px;
  box-sizing: border-box;
}

.tooltip {
  position: absolute;
  z-index: 12;
  top: 34px;
  left: -18px;

  display: none;
}

.tooltip-toggle {
  position: absolute;
  top: -3px;
  right: 33px;
  margin-left: 8px;
  width: 26px;
  height: 26px;

  background-color: #FFE17F;
  background-image: url(../images/icons/info-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 50%;

  cursor: pointer;
}

.tooltip-toggle:hover+.tooltip,
.tooltip-toggle:focus+.tooltip {
  display: block;
}

.tooltip-text {
  position: relative;

  display: block;
  padding: 19px;
  width: 200px;
  box-sizing: border-box;

  color: #ffffff;
  font-size: 16px;
  line-height: 20px;

  background-color: #000000;
}

.tooltip-text::before {
  position: absolute;

  top: -7px;
  left: 144px;

  width: 14px;
  height: 6px;

  background-image: url(../images/icons/tooltip-triangle.svg);

  content: "";
}

.modal-input-number {
  width: 60px;
  padding: 20px;
  padding-left: 25px;
  appearance: textfield;
}

.modal-input-number::-webkit-outer-spin-button,
.modal-input-number::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.number-product-button {
  width: 60px;
  border: none;
  cursor: pointer;
}

.number-product-minus {
  background-image: url(../images/icons/minus-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.number-product-plus {
  background-image: url(../images/icons/plus-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.number-product-button:hover {
  opacity: 0.6;
}

.number-product-button:focus-visible {
  outline: 2px solid #AF4FFF;
}

.number-product-button:active {
  opacity: 0.3;
}

.number-product-button:disabled {
  opacity: 0.1;
}

.modal-button {
  display: block;
  background-color: transparent;
  border: none;
  z-index: 1;
  padding: 10px;
  padding-left: 15px;
  width: 200px;
}
